/* No unique Style */
.table {
  width: auto;
  border-collapse: collapse;
  margin: auto;
}
th, td {
  border: 2px solid black;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #c1d8f0;
  color: black;
}
tr:nth-child(even) {
  background-color: rgb(137, 218, 243);
  color: black;
}
tr:nth-child(odd) {
  background-color: #c1d8f0;
  color: black;
}
tr:hover {
  background-color: lightgray;
}
#scheduling-check {
  font-weight: bold;
  color: var(--primary-color);
}

.side p {
  margin-bottom: 15px;
  line-height: 1.8;
}

.side strong {
  color: var(--primary-color);
}

#scheduling-check {
  color: black !important;
}
